.profile__add {
  background: transparent url('../../../../images/profile-add.svg') no-repeat center / 16px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  color: var(--color-white);
  height: 50px;
  margin-top: 10px;
  max-width: 282px;
  width: 100%;
}

.profile__add:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (min-width: 880px) {
  .profile__add {
    background-size: 22px;
    flex-basis: 150px;
    margin: 0 0 0 auto;
  }
}
