.form__error {
  color: var(--color-red);
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;
  opacity: 0;
  text-align: left;
  visibility: hidden;
  transition: visibility .5s ease, opacity .5s ease;
}
