.page {
  align-items: center;
  background-color: var(--color-black);
  box-sizing: border-box;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  line-height: 1.21;
  margin: 0 auto;
  max-width: 880px;
  min-width: 320px;
  padding-top: 28px;
  text-align: center;
  width: 100%;
}

@media (min-width: 880px) {
  .page {
    padding-top: 45px;
  }
}
