.error__item {
  align-items: flex-start;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px rgba(54, 54, 54, .7);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  max-width: 380px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  transition: opacity .5s ease, visibility .5s ease;
  visibility: hidden;
  width: 100%;
  z-index: 20000;
}
