.profile__edit {
  /* position */
  position: absolute;
  right: calc((var(--profile-btn-edit-size) + var(--profile-btn-edit-absolute-right)) * -1);
  bottom: 50%;
  transform: translateY(50%);
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* size */
  width: var(--profile-btn-edit-size);
  height: var(--profile-btn-edit-size);
  /* style */
  border: 1px solid var(--color-white);
}

@media (min-width: 880px) {
  .profile__edit {
    right: calc((var(--profile-btn-edit-size) + var(--profile-btn-edit-absolute-right)) * -1);

  }
}