.form__button_type_disabled, .form__button_type_disabled:hover {
  background-color: transparent;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  cursor: default;
  opacity: .2;
}
