.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  width: 100%;
}

@media (min-width: 880px) {
  .profile {
    align-items: center;
    column-gap: 30px;
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 0;
  }
}
