.popup__close {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: var(--popup-close-size);
  justify-content: center;
  position: absolute;
  right: 0;
  top: calc((var(--popup-close-size) + var(--popup-close-absolute-top)) * -1);
  width: var(--popup-close-size);
}

.popup__close:after {
  background: url('../../../../images/popup-close.svg') no-repeat center / cover;
  content: '';
  height: var(--popup-close-size);
  transition: opacity .5s ease;
  width: var(--popup-close-size);
}

.popup__close:hover:after {
  cursor: pointer;
  opacity: .6;
}

@media (min-width: 880px) {
  .popup__close {
    right: calc((var(--popup-close-size) + var(--popup-close-absolute-right)) * -1);
    top: calc((var(--popup-close-size) + var(--popup-close-absolute-top)) * -1);
  }
}
