.profile__add {
  width: 100%;
  max-width: 282px;
  height: 50px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  color: var(--color-white);
  background: transparent url('../../../images/profile-add.svg') no-repeat center / 16px;
  margin-top: 10px;
}

.profile__add:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (min-width: 880px) {
  .profile__add {
    margin: 0 0 0 auto;
    background-size: 22px;
    flex-basis: 150px;
  }
}
