:root {
  /* Color */
  --color-black: #000;
  --color-white: #fff;
  --color-gray-dark: #545454;
  --color-gray-light: #c4c4c4;
  --color-stroke: rgba(84, 84, 84, .7);
  --color-loading: linear-gradient(100deg, #eceff1 30%, #c4c4c4 50%, #eceff1 70%);
  /* Font */
  --font-family-base: 'Inter', 'Arial', sans-serif;

  /* Page */
  --page-side-padding: 19px;
  /* Section */
  /* Profile */
  /* Add */
  --profile-btn-add-size: 16px;
  /* Edit */
  --profile-btn-edit-size: 18px;
  /* Feed */
  --feed-item-max-width: 282px;
  /* Popup */
  --popup-close-size: 20px;
  --popup-close-absolute-top: 16px;
  --popup-close-absolute-right: 0;

}

@media (min-width: 880px) {
  :root {
    /* Page */
    --page-side-padding: 0;
    /* Section */

    /* Profile */
    /* Add */
    --profile-btn-add-size: 22px;
    /* Edit */
    --profile-btn-edit-size: 24px;
    /* Popup */
    --popup-close-size: 32px;
    --popup-close-absolute-top: 8px;
    --popup-close-absolute-right: 8px;
  }
}
