.profile__wrapper {
  max-width: 90%;
  position: relative;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

@media (min-width: 880px) {
  .profile__wrapper {
    margin: 0;
  }
}