.card__image {
  display: block;
  filter: brightness(85%);
  height: 282px;
  object-fit: cover;
  object-position: center;
  transition: filter .5s ease;
  width: 100%;
}

.card__image:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.card__delete:hover ~ .card__image {
  filter: brightness(100%);
}
