.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 48px var(--page-side-padding) 36px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

@media (min-width: 880px) {
  .footer {
    padding: 67px var(--page-side-padding) 60px;
  }
}