.profile__occupation {
  color: var(--color-white);
  grid-column-end: 4;
  grid-column-start: 1;
  margin: 0;
  max-width: 282px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 880px) {
  .profile__occupation {
    font-size: 18px;
    grid-column-end: 3;
    line-height: 1.22;
    max-width: 336px;
    text-align: start;
  }
}
