.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  padding: 0 0 7px;
  transition: border-color .25s ease;
  width: 100%;
}

.form:focus-within .form__input_type_error {
  border-color: var(--color-red);
}

.popup__wrapper {
  max-width: 430px;
}

.form__input::placeholder {
  color: var(--color-gray-dark);
  opacity: .2;
}

.form__input:focus {
  border-bottom-color: var(--color-gray-dark);
}
