.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  outline: none;
  padding: 0 0 13px;
  width: 100%;
}

.form__input::placeholder {
  color: var(--color-gray-dark);
}

.form__input:focus {
  border-bottom-color: var(--color-gray-dark);
}
