.header {
  border-bottom: 1px solid var(--color-stroke);
  box-sizing: border-box;
  display: flex;
  padding: 0 27px 32px;
  width: 100%;
}

@media (min-width: 880px) {
  .header {
    padding: 0 0 41px;
  }
}
