.popup-edit__close {
  box-sizing: border-box;
  position: absolute;
  top: calc((var(--popup-close-size) + var(--popup-close-absolute-top)) * -1);
  right: 0;
  height: var(--popup-close-size);
  width: var(--popup-close-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-edit__close:after {
  content: '';
  background: url('../../../images/popup-close.svg') no-repeat center / cover;
  height: var(--popup-close-size);
  width: var(--popup-close-size);
  transition: opacity .5s ease;
}

.popup-edit__close:hover:after {
  opacity: .6;
  cursor: pointer;
}

@media (min-width: 880px) {
  .popup-edit__close {
    top: calc((var(--popup-close-size) + var(--popup-close-absolute-top)) * -1);
    right: calc((var(--popup-close-size) + var(--popup-close-absolute-right)) * -1);
  }
}
