.card__like-button {
  background: url('../../../../images/feed-like.svg') no-repeat center;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 1/-1;
  height: 29px;
  margin-top: 0;
  place-self: center end;
  transition: margin-top .25s ease;
  width: 29px;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
